#pIntro {
    margin: 0 0 20px;
}

.top-hr {
	border-top: 1px solid #E5E5E5;
	padding-top: 10px;
}

.demo-container {
	padding-bottom: 20px;
}

.demo-group {
	padding-bottom: 10px;
}

.console {
	height: 100px; 
	width: 250px; 
	overflow-y: auto; 
	background-color: whiteSmoke;
	border-style: solid; 
	border-color: #CCCCCC;
	border-width: 1px;
	padding: 5px;
	font-size: 11px;
}

/*Buttons examples*/
.demo-container td {
	padding-right: 20px;
}

.demo-container tr {
	vertical-align: top;
}

/*Dropdown button with menu*/
