/* Note: All styles depend on class="tm360" wrapper element (on body or specific div) */

.tm360 ::-ms-clear {
    display: none;
}

.tm360 :focus {
    outline: none;
}

.tm360 {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.tm360 ::-moz-focus-inner {
    border:0;
} 

.tm360 .arial {
    font-family: Arial, sans-serif;
}

.tm360 .museo {
    font-family: MuseoSans500;
}

.tm360 .museoBold {
    font-family: MuseoSans700;
}

.tm360 h1 {
    font-family: MuseoSans500, Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: #4f5158;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.tm360 h1 a:link,
.tm360 h1 a:visited {
    color: #1f2127;
    text-decoration: none;
}

.notouch .tm360 h1 a:hover,
.tm360 h1 a:active {
    color: #4f5158;
    text-decoration: none;
}

.tm360 h2 {
    font-family: MuseoSans500, Arial, sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #4f5158;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.tm360 h2 a:link,
.tm360 h2 a:visited {
    color: #1f2127;
    text-decoration: none;
}

.notouch .tm360 h2 a:hover,
.tm360 h2 a:active {
    color: #4f5158;
    text-decoration: none;
}

.tm360 p,
.tm360 li {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #4f5158;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.tm360 p a:link,
.tm360 p a:visited {
    color: #2d93d4;
    text-decoration: none;
}

.notouch .tm360 p a:hover,
.tm360 p a:active {
    color: #2d93d4;
    text-decoration: underline;
}

.tm360 ul {
    margin: 0 0 12px 15px;
}

.tm360 li {
    line-height: 18px;
    margin: 0 0 7px;
}

.tm360 .textOnDark h1 {
    color: #ffffff;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
}

.tm360 .textOnDark h1 a:link,
.tm360 .textOnDark h1 a:visited {
    color: #b6b7bd;
    text-decoration: none;
}

.notouch .tm360 .textOnDark h1 a:hover,
.tm360 .textOnDark h1 a:active {
    color: #ffffff;
    text-decoration: none;
}

.tm360 .textOnDark h2 {
    color: #ffffff;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
}

.tm360 .textOnDark h2 a:link,
.tm360 .textOnDark h2 a:visited {
    color: #b6b7bd;
    text-decoration: none;
}

.notouch .tm360 .textOnDark h2 a:hover,
.tm360 .textOnDark h2 a:active {
    color: #ffffff;
    text-decoration: none;
}

.tm360 .textOnDark p,
.tm360 .textOnDark li {
    color: #ffffff;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
}

.tm360 .textOnDark p a:link,
.tm360 .textOnDark p a:visited {
    color: #b6b7bd;
    text-decoration: none;
}

.notouch .tm360 .textOnDark p a:hover,
.tm360 .textOnDark p a:active {
    color: #ffffff;
    text-decoration: none;
}


/* bootstrap overrides */
.tm360 label {
    font-size: 12px;
    font-family: Arial,sans-serif;
    color: #4F5158;
    margin-bottom: -1px;
    font-weight: normal;
}

.tm360 .help-error {
    font-size: 11px;
    line-height: 11px;
    font-family: Arial,sans-serif;
    color: #f03848;
    display: none;
    padding-top: 3px;
}
.tm360 .help-error-icon {
    display: none;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-left: 1px;
    vertical-align: text-top;
    background-image: url(img/grfx-tm360SDK.png);
    background-position: -44px -82px;
    background-size: 350px 196px;
    background-repeat: no-repeat;
}

.tm360 .error .help-error-icon {
    display: inline-block;
}

.tm360 input {
    outline-style: none !important;
}

.tm360 textarea,
.tm360 input[type="text"],
.tm360 input[type="password"] {
    border: 1px solid #B6B7BD;
    color: #4F5158;
    font-size: 12px;
    font-family: Arial,sans-serif;
    margin-bottom: 0;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.15) inset;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.15) inset;
    -webkit-appearance: none;
    -webkit-transition: none 0s ease 0s;
    -moz-transition: none 0s ease 0s;
    transition: none 0s ease 0s;
}

.tm360 textarea {
    padding: 0 0 0 10px;
    resize: none;
}

.tm360 input[type="text"],
.tm360 input[type="password"] {
    padding: 0 10px;
    height: 26px;
    line-height: 26px;
}

.tm360 input[disabled],
.tm360 select[disabled],
.tm360 textarea[disabled],
.tm360 input[readonly],
.tm360 select[readonly],
.tm360 textarea[readonly] {
    border: 1px solid #c8c9ce;
    background-color: #f5f5f7;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -webkit-text-fill-color: #4F5158;
    -webkit-opacity: 1
}

.tm360 textarea:focus,
.tm360 input[type="text"]:focus,
.tm360 input[type="password"]:focus {
    border: 1px solid #257eb7;
    -webkit-box-shadow: 1px 1px 3px rgba(45, 147, 212, 0.35) inset;
    -moz-box-shadow: 1px 1px 3px rgba(45, 147, 212, 0.35) inset;
    box-shadow: 1px 1px 3px rgba(45, 147, 212, 0.35) inset;
    -webkit-appearance: none;
}

.tm360 textarea.placeholder,
.tm360 input.placeholder[type="text"],
.tm360 input.placeholder[type="password"] {
    color: #aaa;
}

.tm360 .control-group > label {
    font-weight: bold;
}

.tm360 .control-group.error > label {
    color: #4F5158;
}

.tm360 .control-group.error .checkbox,
.tm360 .control-group.error .radio,
.tm360 .control-group.error input,
.tm360 .control-group.error select,
.tm360 .control-group.error textarea {
    color: #4F5158;
    border-color: #f03848;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(240, 56, 72, 0.25) inset;
    -moz-box-shadow: 1px 1px 1px 0 rgba(240, 56, 72, 0.25) inset;
    box-shadow: 1px 1px 1px 0 rgba(240, 56, 72, 0.25) inset;
    -webkit-appearance: none;
}

.tm360 .control-group.error .checkbox:focus,
.tm360 .control-group.error .radio:focus,
.tm360 .control-group.error input:focus,
.tm360 .control-group.error select:focus,
.tm360 .control-group.error textarea:focus {
    border-color: #f03848;
    -webkit-box-shadow: 1px 1px 1px rgba(240, 56, 72, 0.25) inset;
    -moz-box-shadow: 1px 1px 1px rgba(240, 56, 72, 0.25) inset;
    box-shadow: 1px 1px 1px rgba(240, 56, 72, 0.25) inset;
    -webkit-appearance: none;
}

.tm360 .tmCheckbox {
    width: 18px;
    height: 18px;
    padding-right: 3px;
    margin-bottom: -2px;
    display: inline-block;
    cursor: pointer;
    background: url("img/grfx-tm360SDK.png") no-repeat;
}

.tm360 .tmRadiobutton {
    width: 18px;
    height: 18px;
    padding-right: 3px;
    margin-bottom: -2px;
    display: inline-block;
    cursor: pointer;
    background: url("img/grfx-tm360SDK.png") no-repeat;
}

.tm360 .well .tmCheckbox,
.tm360 .well .tmRadiobutton{
    padding-right: 1px;
}

.tm360 .control-group.error .help-error {
    display: block;
}

.tm360.touch .btn:active,
.tm360.touch .btn.active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.tm360 .btn,
.tm360 .modal .btn,
.tm360.touch .btn:hover,
.tm360.touch .btn:active {
    font-family: MuseoSans500,sans-serif;
    font-size: 12px;
    color: #4F5158;
    line-height: 14px;
    padding: 7px 10px 5px 10px;
    border: 1px solid #9296a3;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
    min-width: 82px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #d4d6d9;
    background-image: -ms-linear-gradient(top, #ffffff, #d4d6d9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#d4d6d9));
    background-image: -webkit-linear-gradient(top, #ffffff, #d4d6d9);
    background-image: -o-linear-gradient(top, #ffffff, #d4d6d9);
    background-image: -moz-linear-gradient(top, #ffffff, #d4d6d9);
    background-image: linear-gradient(top, #ffffff, #d4d6d9);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#d4d6d9', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-position: 0% 0%;
    background-repeat: repeat-x;
    background-size: auto;
}

.tm360 .modal .btn {
    margin-left: 8px;
}

.tm360 .btn:hover,
.tm360 .btn.hover {
    background-color: #ffffff;
    background-image: none;
    text-shadow: none;
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    -webkit-transition: none 0s ease 0s;
    -moz-transition: none 0s ease 0s;
    -ms-transition: none 0s ease 0s;
    -o-transition: none 0s ease 0s;
    transition: none 0s ease 0s;
}

.tm360 .btn.btn-primary,
.tm360.touch .btn.btn-primary:hover,
.tm360.touch .btn.btn-primary.hover {
    color: #FFFFFF;
    border: 1px solid #9296a3;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.25);
    background-color: #2d93d4;
    background-image: -ms-linear-gradient(top, #6bbefd, #2d93d4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6bbefd), to(#2d93d4));
    background-image: -webkit-linear-gradient(top, #6bbefd, #2d93d4);
    background-image: -o-linear-gradient(top, #6bbefd, #2d93d4);
    background-image: -moz-linear-gradient(top, #6bbefd, #2d93d4);
    background-image: linear-gradient(top, #6bbefd, #2d93d4);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#6bbefd', endColorstr='#2d93d4', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    background-position: 0% 0%;
    background-repeat: repeat-x;
    background-size: auto;
}

.tm360 .btn.btn-primary:hover,
.tm360 .btn.btn-primary.hover,
.tm360 .btn.btn-primary:active,
.tm360 .btn.btn-primary.active {
    background-color: #2d93d4;
}

/* class fixed */
.tm360 .btn.btn-primary:hover,
.tm360 .btn.btn-primary.hover {
    background-position: 0 -15px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-transition: none 0s ease 0s;
    -moz-transition: none 0s ease 0s;
    -ms-transition: none 0s ease 0s;
    -o-transition: none 0s ease 0s;
    transition: none 0s ease 0s;
}

.tm360 .btn.btn-success,
.tm360.touch .btn.btn-success:hover,
.tm360.touch .btn.btn-success.hover {
    color: #FFFFFF;
    border: 1px solid #4f5158;
    font-size: 14px;
    min-width: 140px;
    height: 34px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.25);
    background-color: #38c56a;
    background-image: -ms-linear-gradient(top, #38c56a, #10a946);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#38c56a), to(#10a946));
    background-image: -webkit-linear-gradient(top, #38c56a, #10a946);
    background-image: -o-linear-gradient(top, #38c56a, #10a946);
    background-image: -moz-linear-gradient(top, #38c56a, #10a946);
    background-image: linear-gradient(top, #38c56a, #10a946);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#38c56a', endColorstr='#10a946', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    background-position: 0% 0%;
    background-repeat: repeat-x;
    background-size: auto;
}

.tm360 .btn.btn-success:hover,
.tm360 .btn.btn-success.hover,
.tm360 .btn.btn-success:active,
.tm360 .btn.btn-success.active {
    background-color: #10a946;
}

.tm360 .btn.btn-success:hover,
.tm360 .btn.btn-success.hover {
    background-color: #10a946;
    background-position: 0 -15px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-transition: none 0s ease 0s;
    -moz-transition: none 0s ease 0s;
    -ms-transition: none 0s ease 0s;
    -o-transition: none 0s ease 0s;
    transition: none 0s ease 0s;
}

.tm360 .btn.disabled, 
.tm360 .btn[disabled],
.tm360 .btn.btn-primary.disabled, 
.tm360 .btn.btn-primary[disabled],
.tm360 .btn.btn-success.disabled, 
.tm360 .btn.btn-success[disabled]{
    background: none;
    text-shadow: none;
    border: solid 1px #c8c9ce;
    background-color: #fff;
    color: #c8c9ce;
}

.tm360 .btn.disabled:hover, 
.tm360 .btn[disabled]:hover,
.tm360 .btn.btn-primary.disabled:hover, 
.tm360 .btn.btn-primary[disabled]:hover,
.tm360 .btn.btn-success.disabled:hover, 
.tm360 .btn.btn-success[disabled]:hover{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.tm360 .modal {
    /*border: 10px solid rgb(153, 153, 153);*/
    width: 482px;
    border: 10px solid rgba(0, 0, 0, 0.25);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.tm360 .modal.fade {
    top: 50%;
    -webkit-transition: opacity 0.10s linear;
    -moz-transition: opacity 0.10s linear;
    -o-transition: opacity 0.10s linear;
    transition: opacity 0.10s linear;
}

.tm360 .modal.fade.in,
.tm360 .modal.in {
    opacity: 100%;
}

.tm360 .modal.large {
    width: 636px;
}

.tm360 .modal.custom {
    width: auto;
    height: auto;
}

.tm360 .modal h3 {
    font-family: 'MuseoSans500';
    font-size: 18px;
    font-weight: normal;
    color: #4F5158;
}

.tm360 .modal-header {
    padding: 14px 20px 14px;
    border: none;
}

.tm360 .modal-header .close {
    display: none;
    visibility: hidden;
}

.tm360 .modal-body {
    padding: 1px 20px;
    border: none;
    font-family: Arial;
    font-size: 14px;
    color: #4F5158;
}

.tm360 .modal-body p {
    margin: 0;
}

.tm360 .modal-footer {
    padding: 20px;
    margin-top: 15px;
    background-color: #f5f5f7;
    border-top: 1px solid #ebebee;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.modal-backdrop {
    background-color: #000;
    opacity: 0.0;
    filter: alpha(opacity=0);
}  

.modal-backdrop.fade.in,
.modal-backdrop.in {
    opacity: 0.25;
    filter: alpha(opacity=25);
}

.modal-backdrop.fade.in,
.modal-backdrop.in {
    opacity: 0.25;
    filter: alpha(opacity=25);
}

.tm360 .search-filter-bg {
    background-color: #eff0f3; 
    background-repeat: repeat-x; 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eff0f3), to(#c5d2db)); 
    background: -webkit-linear-gradient(top, #eff0f3, #c5d2db); 
    background: -moz-linear-gradient(top, #eff0f3, #c5d2db); 
    background: -ms-linear-gradient(top, #eff0f3, #c5d2db); 
    background: -o-linear-gradient(top, #eff0f3, #c5d2db);
}

.tm360 .search-clear-icon {
    display: none;
    position: absolute;
    top: 5px;
    left: -21px; /* positioned via JS to right of input */
    width: 18px;
    height: 18px;
    background-image: url(img/grfx-tm360SDK.png);
    background-position: -281px -9px;
    background-size: 350px 196px;
    background-repeat: no-repeat;    
}

.notouch .tm360 .search-clear-icon:hover {
    background-position: -281px -33px;
}

.tm360 input.search-query {
  padding-right: 28px;
  /*padding-right: 28px \9;*/
  padding-left: 14px;
  padding-left: 4px \9;
  margin-bottom: 0;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

/* remove IE10's "clear field" X in favor of our own */
.tm360 input.search-query::-ms-clear {
    /*display: none; causes issues with padding-right, so use width/height instead */
    width : 0;
    height: 0;
}

.tm360 input[type="text"].search-query:focus {
    border: 1px solid #9296a3;
}

.tm360 .darker input[type="text"].search-query {
    border: 1px solid #9296a3;
}

.tm360 .darker input[type="text"].search-query:focus {
    border: 1px solid #4f5158;
}

/* For iPad portrait layouts only */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    .tm360 .help-error-icon {
        width: 18px;
        height: 18px;
        line-height: 18px;
        margin-top: 2px;
    }
}
/* fix to keep @media declarations on a new line after less compilation */
.lessSep1 {
    zoom: 1;
}

/* For iPad landscape layouts only */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    .tm360 .help-error-icon {
        width: 17px;
        height: 17px;
        line-height: 17px;
        margin-top: 2px;
    }
}
.lessSep2 {
    zoom: 1;
}

/* high-resolution (Retina) */
@media (min-resolution: 120dpi), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx) { 
    .tm360 .help-error-icon,
    .tm360 .search-clear-icon {
        background-image: url(img/grfx-tm360SDK@2x.png);
    }
}
