.tm360 .popover {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-color: #9296a3;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border: 1px solid rgb(146, 150, 163)
}

.tm360 .popover-inner {
    padding: 19px;
}

.tm360 .popover .popover-content {
    padding: 0px;
}

.tm360 .popover .popover-content.with-title {
    padding-top: 15px;
}

.tm360 .popover .popover-title {
    color: #4f5158;
    font-family: "MuseoSans500";
    opacity: 1;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #FFF;
    border-style: none;
}

.tm360 .popover h1.popover-title {
    font-size: 18px;
    line-height: normal;
}

.tm360 .popover.top .arrow {
    border-top-color: rgba(146, 150, 163, 1);
}
.tm360 .popover.bottom .arrow {
    border-bottom-color: rgba(146, 150, 163, 1);
}
.tm360 .popover.left .arrow {
    border-left-color: rgba(146, 150, 163, 1);
}
.tm360 .popover.right .arrow {
    border-right-color: rgba(146, 150, 163, 1);
}

.tm360 .popover-footer {
    margin-top: 15px;
    text-align: right;
}

.tm360 .tmTooltip {
    z-index: 1020;
}

.tm360 .tmTooltip .popover-inner{
    width: 140px;
}