
/* Museo Sans font */
@font-face {
    font-family: 'MuseoSans500';
    src: url('MuseoSans/museo-sans-500.eot');
    src: url('MuseoSans/museo-sans-500.eot?#iefix') format('embedded-opentype'),
         url('MuseoSans/museo-sans-500.woff') format('woff'),
         url('MuseoSans/museo-sans-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.atSep1 {
    /* Leave these ".atSep*" declarations even though they aren't used, otherwise lessc 
    places the @font-face and @media declarations on the same line, which breaks them. */
    top: 0;
} 
@font-face {
    font-family: 'MuseoSans700';
    src: url('MuseoSans/museo-sans-700.eot');
    src: url('MuseoSans/museo-sans-700.eot?#iefix') format('embedded-opentype'),
         url('MuseoSans/museo-sans-700.woff') format('woff'),
         url('MuseoSans/museo-sans-700.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.atSep2 {
    top: 0;
}

::-webkit-selection{ background: #2d93d4; color:#fff; text-shadow: none; }
::-moz-selection{    background: #2d93d4; color:#fff; text-shadow: none; }
::selection {        background: #2d93d4; color:#fff; text-shadow: none; }

.hidden { display: none; visibility: hidden; } 

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

html {
  height: 100%;
  overflow: auto;
}

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    /*height: 100%; enables scrolling for ipad but causes lag? */
    overflow: auto;
    position: relative;
    *text-align: center; /* IE7 doesnt center content with margin: 0 auto; */
}


/* common tm360 styles */
body {
    background-color: #696a6e;
    background-image: url(img/bg-workspace.png);
    background-repeat: repeat-x;
}


/* adaptive (2-width) sizing */
#container {
    width: 1252px;
    background-color: #ffffff;
    color: #4f5158;
    padding: 0;
    margin: 0 auto;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    *text-align: left;
}

.small-screen #container {
    width: 944px;
}

/* non-adaptive sizing: https://confluence.tm.tmcs/confluence/display/UE/TM360#TM360-1280Mattefor1024Apps */
#container.non-adaptive {
    background-color: #d3d3d7;
}
#container.non-adaptive > div {
    background-color: #ffffff;
    margin: 0 auto;
    width: 944px;
}


@media only screen and (max-device-width: 1024px) and (orientation:portrait) {
    body {
        zoom: 81.355932%;
    }
}
.atSep3 {
    top: 0;
}

@media only screen and (max-device-width: 1024px) and (orientation:landscape) {
    body {
        zoom: 108.474576%;
    }
}
.atSep4 {
    top: 0;
}
